.card-container {
    justify-content: center;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    gap: 3rem;
    max-width: 1200px;
}
.home {
    min-height: 4000px;
}

.loading{
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    font-size: 2rem;
}